<!-- projetos organizados em 3 colunas, com Boostrap -->


{% extends "layout.html" %}

{% block content %}

<div class="row mt-5">

    {% for project in projects %}

    <div class="col-md-4 mb-4">
        
        <div class="card h-100">
            
            <img src="{{ project.image }}" class="card-img-top" alt="Projeto">
            
            <div class="card-body">

                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{{ project.link }}" class="btn btn-primary">Ver Projeto</a>
            
            </div>
        
        </div>
    
    </div>

    {% endfor %}

</div>

{% endblock %}
